{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/home.css' %}">
    <title>Rivvy home</title>
  </head>
  <body>
    <div class="container1">
      <div class="container2 col-sm-12">
        <div class="pagenav col-sm-12">
          <a href="{% url 'landingpage:home'%}" class="a2">
            <h1>Rivvy</h1>
          </a>

        </div>

        <div class="pagebody1">
          <div class="explainerdiv1 col-sm-12">
            <div class="row">
              <div class="explainerdiv1left col-sm-6">
                <p class="explainerdiv1leftheadertext">Accept credit card payments from your phone without a POS reader!</p>
                <p class="explainerdiv1lefttext">Accept payments fast from anywhere. Rivvy's checkout solution lets you ring up items quickly in your store and on the go without the checkout hassle.</p>
                <div class="explainerdiv1button">
                  <a href="{%url 'landingpage:pricing'%}" class="a">
                    <p class="explainerdiv1buttontext">GET STARTED</p>
                  </a>
                </div>
              </div>
              <div class="explainerdiv1right col-sm-6">
                <img class="image1 col-sm-12" src="/static/landingpage/images/image1.svg" alt="">
              </div>
            </div>
          </div>

          <div class="explainerdiv2 col-sm-12">
            <div class="prop1 col-sm-4">
              <div class="propcontainer1">
                <div class="prop2">

                </div>
                <div class="prop3">

                </div>
                <p class="explainerdiv2headertext col-sm-12">Say goodbye to clunky point of sale machines and magstrip readers!</p>
                <p class="explainerdiv2text col-sm-12">Accept all types of card payments everywhere you sell.</p>
              </div>
            </div>
          </div>

          <div class="explainerdiv3 col-sm-12">
            <p class="explainerdiv3headertext">Bill, scan, pay.</p>
            <div class="row">
              <div class="prop4">
                  <p class="prop4text">1</p>
              </div>
              <p class="explainerdiv3subheader1">Bill</p>
            </div>
            <p class="explainerdiv3subtext1">Choose checkout amount. For example $10 for the items in the customers cart.</p>

            <div class="row" style="margin-top:40px;">
              <div class="prop4">
                  <p class="prop4text">2</p>
              </div>
              <p class="explainerdiv3subheader1">Scan</p>
            </div>
            <p class="explainerdiv3subtext1">Scan customers card. Rivvy's powerful AI recognition software enables you to bill customers by just pointing your cell phone camera at their atm card.</p>

            <div class="row" style="margin-top:40px;">
              <div class="prop4">
                  <p class="prop4text">3</p>
              </div>
              <p class="explainerdiv3subheader1">Pay</p>
            </div>
            <p class="explainerdiv3subtext1">The customer inputs their atm pin and you're good to go!</p>

          </div>

          <div class="explainerdiv4 col-sm-12">
            <img class="image2 col-sm-12" src="/static/landingpage/images/image2.svg" alt="">
            <div class="prop5">

            </div>
            <div class="prop6">

            </div>
            <p class="explainerdiv4headertext1 col-sm-12">Enable faster checkouts with Rivvy</p>
            <p class="explainerdiv4subheadertext1 col-sm-6">Rivvy allows you to add multiple workers to your account so everyone's phone is a POS machine.</p>

            <img class="image2 col-sm-12" src="/static/landingpage/images/image3.svg" alt="">
            <div class="prop5" style="visibility:hidden;">

            </div>
            <div class="prop6" style="visibility:hidden;">

            </div>
            <p class="explainerdiv4headertext1-2 col-sm-12">Gather customer insights and data </p>
            <p class="explainerdiv4subheadertext1 col-sm-6">Rivvy's built in analytics platform let's you take a closer look at your customer's spending habits.</p>

            <img class="image2 col-sm-12" src="/static/landingpage/images/image4.svg" alt="">
            <div class="prop5" style="visibility:hidden;">

            </div>
            <div class="prop6" style="visibility:hidden;">

            </div>
            <p class="explainerdiv4headertext1-3 col-sm-6">Start, manage, and help grow your entire business all on one app.</p>
            <p class="explainerdiv4subheadertext1 col-sm-6">Rivvy is optimized for growth. No matter what stage you're in, we've got you covered.</p>
          </div>
          <h2>Still not convinced?</h2>
          <div class="explainerdiv5 col-sm-12">
            <div class="row">
              <div class="explainerdiv5subdiv col-sm-4">
                <div class="explainerdiv5subdivinnerdiv col-sm-12">
                  <img class="explainerdiv5subdivinnerdivimages" src="/static/landingpage/images/image5.svg" alt="">
                  <p class="explainerdiv5subdivinnerdivtext">Real time virtual receipts</p>
                  <p class="explainerdiv5subdivinnerdivtextlower">Rivvy issues receipts to your customer as text messages in real time, so you'll never have to print a paper receipt again.</p>
                </div>
              </div>
              <div class="explainerdiv5subdiv col-sm-4">
                <div class="explainerdiv5subdivinnerdiv col-sm-12">
                  <img class="explainerdiv5subdivinnerdivimages" src="/static/landingpage/images/image6.svg" alt="">
                  <p class="explainerdiv5subdivinnerdivtext">Secure end to end ecryption</p>
                  <p class="explainerdiv5subdivinnerdivtextlower">Rivvy's platform is built on a secure server with baked in authentication to make sure you never have to worry about losing customer information or data.</p>
                </div>
              </div>
              <div class="explainerdiv5subdiv col-sm-4">
                <div class="explainerdiv5subdivinnerdiv col-sm-12">
                  <img class="explainerdiv5subdivinnerdivimages" src="/static/landingpage/images/image7.svg" alt="">
                  <p class="explainerdiv5subdivinnerdivtext">Fast seem-less transfers</p>
                  <p class="explainerdiv5subdivinnerdivtextlower">No more waiting for your payments to be processed. All transaction's on Rivvy's platform take place instantly.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="explainerdiv6 col-sm-12">
            <p class="explainerdiv6header1">TRY IT OUT FOR FREE</p>
            <p class="explainerdiv6header2">Start accepting payments in just 30 minutes</p>
            <p class="explainerdiv6header3">Start using Rivvy today with our 14-day free trial</p>
            <a href="{% url 'landingpage:pricing'%}" class="a">
              <div class="explainerdiv6button">
                <p>Get started</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
