html{ margin:0; padding:0; height:100%; width:100%;}
body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow: hidden;
  overflow-y: scroll !important;
  padding: 2.5%;
}
.image1{
  width: 120px;
  margin-top: 200px;
  margin-bottom: 20px;
}
.betabody{
  height: 90%;
  padding: 0px;
  background-color: white;
  padding-top: 30px;
  text-align: center;
}
.a2{
  text-decoration: none !important;
  border: none !important;
  color: #000000 !important;
}

h1{
  font-size: 25px;
  font-family: cooper std;
  display: inline;
  font-weight: 600 !important;
}

.betatextone{
  font-family: Cooper Std;
  color: #000000;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 2em !important;
}

.betatexttwo{
  font-family: Constantia;
  font-size: 25px;
  color: #707070;
  margin-bottom: 3em !important;
}
